

/*Z-Index*/

body{
	
}


.nav-logo{
	z-index:100;
} 

.navbar-toggler{
	z-index:100;
} 

.nav_my{
	z-index: 95;
}
.front-h1{
	z-index: 90;
}
.front{
	z-index: 89;
}
.front2{
	z-index: 88;
}
.front3{
	z-index: 87;
}
.nav-bg{
	z-index: 80;
}

.content-2 h1{
	z-index: 75;
}

.content-2 img{
	z-index: 75;
}

.content-2 p{
	z-index: 75;
}

.bt{
	z-index: 72;
}
.content-2{
	z-index: 70;
}

.content-3{
	z-index: 70;
}

.content-4{
	z-index: 76;
}

.box{
	z-index: 69;
}
.p-hold{
	z-index: 0;
}
.newsletter-cont{
	z-index: 76;
}

.client{
	z-index: 75;
}

.footer{
	z-index: 75;
}
